:root {
  --Rainydays-blue: rgb(46, 72, 107);
  --Rainydays-orange: rgb(254, 169, 51);

  --text-color-white: rgb(255, 255, 255);

  --font-family-helvetica: helvetica, arial, sans-serif;
}

/* This didnt work .. */