/*
THIS STYLESHEET IS ONLY FOR: about-us.html
*/

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 250px;
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-us p {
  margin-top: 1em;
}

.about-us img {
  max-width: 100%;
}

@media only screen and (min-width: 701px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 140px;
  }
  
  .about-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }

  .about-end-img {
    flex: 1;
  }

  .about-end-text {
    flex: 1;
  }
}