main {
  margin-left: 100px;
  margin-right: 100px;
}

.about-banner {
  max-width: 1200px;
  margin-bottom: 20px;
}

.about-welcome {
  font-size: 1.3em;
}

.our-story p{
  margin-bottom: 20px;
  font-size: 1.3em;
}

.about-bottom {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 40px;
}

.about-bottom p {
  margin-bottom: 30px;
  font-size: 1.3em;
}

.philosophy {
  margin-right: 40px;
}

.about-image {
  max-width: 100%;
  border-radius: 6px;
  margin-top: 20px;
}
