/* 
THIS STYLESHEET IS FOR:
checkout.html
checkout-success.html

Maybe have this in the shop.css ??

 */

/* THESE STYLES ARE THE SAME ON ALL PAGES EXCEPT index.htm */
main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 250px;
}

@media only screen and (min-width: 701px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 160px;
  }
}

h1 {
  display: flex;
  justify-content: center;
}


/*CHECKOUT*/

@media only screen and (max-width: 700px) {
  .checkout-flex {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 701px) {
  .checkout-flex {
    display: grid;
  }
}

.checkout-title {
  display: flex;
  align-items: center;
  gap: 2em;
}

.checkout-number {
  background-color: rgb(46, 72, 107);
  color: white;
  display: inline;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

.delivery-container,
.payment-container {
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
  padding: 1em;
  display: flex;
  flex-direction: column;
} /* add the .checkout-container, .shipping-information-container and the .shopping-cart-container? All containers can be compressed*/

.shopping-cart-container {
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
  padding: 1em;
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
}

.shopping-cart-container img {
  max-width: 80%;
}

.shopping-cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart-description {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.shopping-cart-description p {
  padding-bottom: 1em;
}


.shipping-information-container form {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
  padding: 1em 3em;
}

.shipping-information-container input,
.payment-info input {
  margin-top: 0.4em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  height: 2em;
  border: 1px solid rgb(46, 72, 107);
  border-radius: 2px;
  font-size: 1em
}

.delivery-container div {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-container label {
  min-width: 132px;
}

.delivery-container p {
  min-width: 57px;
  text-transform: uppercase;
}


.payment-container div {
  margin-bottom: 1em;
  display: flex;
  gap: 2em;
}

.payment-container label {
  display: flex;
  align-items: center;
  gap: 2em;
}

.payment-info {
  display: flex;
  flex-direction: column;
}



.checkout-container {
  position: relative;
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-container p {
  padding-bottom: 2em;
}

.checkout-container a {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}


/* CHECKOUT SUCCESS */


.checkout-success {
  display: flex;
  gap: 1em;
}

.checkout-success p {
  margin-bottom: 1em;
}

.checkmark {
  border: 6px solid rgb(255, 189, 71);
  padding: 1em 2em;
  border-radius: 4px;
}

@media only screen and (max-width: 700px) {
  .checkout-success {
    flex-direction: column;
    align-items: center;
  }
}

/*Desktop styles (example)*/
@media only screen and (min-width: 701px) {
  .checkout-success {
    flex-direction: row;
  }
}
