/* 
Styling for:
about-us.html
checkout.html
checkout-success.html
contact-us.html
contact-form.html
faq.html
shop.html
xplorer-fleece.html
newsletter.html
*/

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 160px;
}

@media only screen and (min-width: 701px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
  }
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
}


/* SHOP */
.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.shop-container {
  background-color: rgb(46, 72, 107);
  color: white;
  padding: 1em;
  border-radius: 4px;
  max-width: 300px;
}

.shop img {
 width: 100%;
}

.shop p {
  padding-top: 0.5em;
}

/* XPLORER FLEECE JACKET - PRODUCT SPECIFIC */
.product-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-info p {
  margin-bottom: 1em;
}

.product-image-container {
  max-width: 400px;
}

.product-image {
  width: 100%;
  margin-top: 20px;
}

.product-specific select {
  border: 1px solid rgb(46, 72, 107);
  border-radius: 2px;
  height: 2em;
}

.product-specific a {
  margin-top: 0.5em;
}

@media only screen and (max-width: 700px) {
.product-specific {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 14px;
  }

  .product-specific select,
  .product-specific a {
    width: 100%;
  }

  .product-image-container {
    align-self: center;
  }
}

@media only screen and (min-width: 701px) {
  .product-specific {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-top: 14px;
  }

  .product-info {
    max-width: 700px;
    min-width: 200px;
  }

  .product-image {
    min-width: 200px;
  }

  .product-specific select,
  .product-specific a {
    width: 40%;
  }
}

/* CHECKOUT */
.checkout-title {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 1em;
}

.checkout-number {
  background-color: rgb(46, 72, 107);
  color: white;
  display: inline;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

.shopping-cart-container,
.shipping-information-container,
.delivery-container,
.payment-container,
.checkout-container {
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
  padding: 1em 3em;
  margin-bottom: 2em;
}

.shopping-cart-container,
.shipping-information-container form,
.delivery-container,
.payment-container,
.checkout-container {
  display: flex;
}

.shipping-information-container form,
.delivery-container,
.payment-container {
  flex-direction: column;
}

.shopping-cart-container {
  gap: 2em;
  justify-content: space-evenly;
}

.shopping-cart-container img {
  max-width: 80%;
}

.shopping-cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart-description {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.shopping-cart-description p {
  padding-bottom: 1em;
}

.shipping-information-container input,
.payment-info input {
  margin-top: 0.4em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  height: 2em;
  border: 1px solid rgb(46, 72, 107);
  border-radius: 2px;
  font-size: 1em;
}

.delivery-container div {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-container label {
  min-width: 132px;
}

.delivery-container p {
  min-width: 57px;
  text-transform: uppercase;
}

.payment-container div {
  margin-bottom: 1em;
  display: flex;
  gap: 2em;
}

.payment-container label {
  display: flex;
  align-items: center;
  gap: 2em;
}

.payment-info {
  display: flex;
  flex-direction: column;
}

.checkout-container {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-container p {
  padding-bottom: 2em;
}

.checkout-container a {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/* CHECKOUT SUCCESS */
.checkout-success {
  display: flex;
  gap: 1em;
}

.checkout-success p {
  margin-bottom: 1em;
}

.checkmark {
  border: 6px solid rgb(254, 169, 51);
  padding: 1em 2em;
  border-radius: 4px;
}

@media only screen and (max-width: 700px) {
  .checkout-success {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 701px) {
  .checkout-success {
    flex-direction: row;
  }
}

/* ABOUT US */
.about-us {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-us p {
  margin-top: 1em;
}

.about-us img {
  max-width: 100%;
  border-radius: 4px;
}

.about-end-img {
  margin-bottom: 1em;
}
  
.about-end {
  display: flex;
  justify-content: space-between;
}

.about-end-img {
  flex: 1;
}

.about-end-text {
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .about-end {
    flex-direction: column;
  }
}

@media only screen and (min-width: 701px) {
  .about-end {
    flex-direction: row;
    gap: 1em;
  }
}

/* CONTACT US */
.contact-head {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-support,
.contact-connect {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact-container {
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.3em;
  margin-top: 2em;
  gap: 1em;
  min-height: 315px;
}

.contact-type {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2em;
  min-width: 264px;
}

.contact-icon {
  max-width: 38px;
}

.contact-text p {
  padding-bottom: 1em;
}

.contact-flex {
  display: flex;
}

.contact-connect input {
  height: 2em;
  width: 50%;
  padding-left: 10px;
  border: 1px solid rgb(46, 72, 107);
  border-radius: 4px;
}

.contact-connect button {
  width: 50%;
}

.contact-connect label {
  display: none;
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .contact-flex {
    flex-direction: column;
  }
}

@media only screen and (min-width: 901px) {
  .contact-flex {
    flex-direction: row;
    gap: 2em;
  }
}

/* CONTACT FORM */
.contact-form {
  position: relative;
}

.contact-form-start h2,
.contact-form-start p {
  margin-bottom: 1em;
}

.contact-form-info,
.contact-form-message {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: 300px;
}

.contact-form-info input,
.contact-form-message textarea {
  padding-left: 0.6em;
  margin-bottom: 1em;
  border: 2px solid rgb(46, 72, 107);
  border-radius: 4px;
}

.contact-form-info input {
  height: 2em;
}

.contact-form-message textarea {
  height: 300px;
  font-family: helvetica, arial, sans-serif;
  padding-top: 0.5em;
}

.contact-form-message {
  display: flex;
  flex-direction: column;
}

.contact-form-submit {
  display: flex;
}

.contact-form-submit a {
  text-transform: uppercase;
}

.submit-overlay {
  position: relative;
  display: flex;
  justify-content: end;
}

#submit-checkbox {
  display: none;
}

.submit-text {
  background-color: rgb(149, 225, 149);
  padding: 10px;
  border-radius: 4px;
  letter-spacing: 0.5px;
  text-align: center;
  position: absolute;
  bottom: 46px;
  opacity: 0;
}

.submit-overlay [type="checkbox"]:checked ~ .submit-text {
  opacity: 1;
  transition: 0.8s;
}

@media only screen and (max-width: 700px) {
  .contact-form-submit {
    justify-content: center;
  }
}

@media only screen and (min-width: 701px) {
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .contact-form-submit {
    justify-content: flex-end;
  }
}

/* FAQ */
.faq summary,
.faq-contact p {
  font-weight: bold;
  margin-bottom: 1em;
}

.faq-container {
  margin-bottom: 1em;
}

.faq-contact {
  display: flex;
}

.faq-contact img {
  width: 100%;
  border-radius: 4px;
}

.faq-container summary:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .faq-positioning {
    display: flex;
    flex-direction: column;
  }

  .faq-contact {
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1001px) {
  .faq-positioning {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 1em;
  }

  .faq-contact {
    flex-direction: column;
    gap: 1em;
  }
}

/* NEWSLETTER */
.newsletter {
  background-image: url(../assets/images/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  color: white;
}

.newsletter-text {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 4px;
}

.newsletter h1 {
  font-size: 1.8rem;
  letter-spacing: 0.375rem;
}

.newsletter p,
.newsletter a {
  margin-top: 2em;
}

@media only screen and (max-width: 700px) {
  .newsletter {
    padding: 10px;
  }

  .newsletter h1 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .newsletter {
    padding: 40px;
  }
}

@media only screen and (min-width: 1001px) {
  .newsletter {
    padding: 60px;
  }
}