/* 
THIS STYLESHEET IS FOR:
contact-us.html
contact-form.html
faq.html

*/

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 250px;
}

h1 {
  display: flex;
  /*justify-content center only on desktop*/
}

@media only screen and (min-width: 701px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 140px;
  }

  h1 {
    justify-content: center;
  }
}

  /* the styles above is the same on all pages except index */


/* CONTACT US */
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-left: 80px;
  max-width: 550px;
}

.customer-support,
.connect {
  border: 1px solid rgb(46, 72, 107);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 20px;
  align-items: center;
}

.icon {
  width: 24px;
}

.support-type,
.connect-type {
  display: grid;
  grid-template-columns: 40px 200px;
  column-gap: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.connect-input {
  width: 186px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgb(46, 72, 107);
  padding-left: 10px;
  margin-bottom: 10px;
}

.connect-newsletter {
  padding-left: 86px;
}

.contact-boxes {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 160px;
}


/* CONTACT FORM */



/* FAQ */

.faq summary,
.faq-contact p {
  font-weight: bold;
  margin-bottom: 1em;
}

.faq-container {
  margin-bottom: 1em;
}

.faq-contact {
  display: flex;
}

.faq-contact img {
  width: 100%;
  border-radius: 4px;
}

.faq-positioning {
  /*displary flex*/
}

/*Mobile styles (example)*/
@media only screen and (max-width: 700px) {
  .faq-positioning {
    display: flex;
    flex-direction: column;
  }

  .faq-contact {
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
  }
}

/*Desktop styles (example)*/
@media only screen and (min-width: 701px) {
  .faq-positioning {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 1em;
  }

  .faq-contact {
    flex-direction: column;
    gap: 1em;
  }
}
