/*Is helvetica a web safe font? win 7,3% mac 100%
@font-face {
  font-family: Helvetica;
  src: url();
}
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 230px;
  margin-bottom: 50px;
  font-family: var(--font-family-helvetica);
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 701px) {
  main {
    margin-top: 130px;
    margin-bottom: 50px;
  }
}

/* BREADCRUMBS */

.breadcrumbs {
  border-bottom: 1px solid black;
}

.breadcrumbs ul {
  padding: 0;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a {
  color: black;
}

.breadcrumbs li:not(:last-child):after {
  content: '>';
  margin: 20px;
}



/* SPAN CLASSES */

.orange {
  color: var(--Rainydays-orange);
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}


/* BUTTONS */

.cta-blue {
  width: 200px;
  height: 40px;
  font-family: Helvetica, arial, sans-serif;
  background-color: var(--Rainydays-blue);
  color: var(--text-color-white);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.3s;
}

.cta-blue:hover {
  background-color: rgb(66, 92, 127);
  cursor: pointer;
}

.cta-orange {
  width: 300px;
  height: 60px;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5rem;
  background-color: var(--Rainydays-orange);
  color: black;
  letter-spacing: 3px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.3s;
}

.cta-orange:hover {
  background-color: rgb(255, 189, 71);
  cursor: pointer;
}

/*Mobile styles (template)*/
@media only screen and (max-width: 700px) {}

/*Desktop styles (template)*/
@media only screen and (min-width: 701px) {}