.banner {
  background-image: url(/assets/images/banner-image.jpg);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.sale {}

.shop {}

.shop-womens {}

.shop-mens {}

.activity {}


/*Shoud the buttons be on the general css??*/