.banner {
  background-image: url(/assets/images/banner-image.jpg);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 20px;
  justify-content: flex-end;
}

body {
  color: white;
  font-family: helvetica, arial;
}

h1 {
  font-size: 60px;
  letter-spacing: 6px;
  display: inline-block;
  margin: 0;
}

h2 {
  font-size: 80px;
  letter-spacing: 6px;
  display: inline-block;
  margin: 0;
  padding-bottom: 40px;
}

p {
  font-family: helvetica, arial;
}

.cta-orange {
  width: 400px;
  height: 80px;
  font-family: helvetica, arial;
  font-size: 30px;
  background-color: rgb(254, 169, 51);
  color: black;
  letter-spacing: 3px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cta-orange a {
  text-decoration: none;
  color: inherit;
}



.sale {
  display: flex;
  flex-direction: row;
  margin: 40px 100px 40px 100px;
  max-width: 1300px;
}

.sale-info {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 72, 107);
  border-radius: 10px;
  width: 500px;
  padding-left: 20px;
}

.sale-image {
  border-radius: 10px;
  max-width: 600px;
}



.shop {}

.shop-womens {}

.shop-mens {}

.activity {}


/*Shoud the buttons be on the general css??*/



/*Mobile styles (example)*/
@media only screen and (max-width: 480px) {

}

/*Tablet styles (example)*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/*Desktop styles (example)*/
@media only screen and (min-width: 769px) {

}

/*
Media queries: the global styles will apply on all screens and then the @media will only apply the changes depending on the screen sizes. 
*/