main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 250px
}

@media only screen and (min-width: 701px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 160px;
  }
}

/* SHOP */

.shop {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 40px;
  justify-content: center;
}

.shop-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 72, 107);
  width: 300px;
  align-items: center;
  justify-content: center;
  color: white;
}

.jacket-info {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.jacket-image {
  width: 90%; /*need to find another way to do this since the images are different. It works now because all the text in the jacket info is three lines ...*/
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 10px;
}



/*XPLORER FLEECE JACKET*/

.product-specific {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-specific p {
  margin-bottom: 1em;
}

.product-image-container {
  max-width: 400px;
  align-self: center;
}

.product-image {
  width: 100%;
}

.product-specific select {
  width: 100%;
  border: 1px solid rgb(46, 72, 107);
  height: 2em;
}

.product-specific a {
  width: 100%;
  margin-top: 0.5em;
}