/* HAVENT CODED FOR DESKTOP ON PRODUCT SPECIFIC */

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 250px
}

@media only screen and (min-width: 701px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 160px;
  }
}

h1 {
  /* get it center aligned */
}

/* SHOP */

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.shop-container {
  background-color: rgb(46, 72, 107);
  color: white;
  padding: 1em;
  border-radius: 4px;
}

.shop img {
  max-width: 300px;
}

.shop p {
  padding-top: 0.5em;
}


/*XPLORER FLEECE JACKET, PRODUCT SPECIFIC*/

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-info p {
  margin-bottom: 1em;
}

.product-image-container {
  max-width: 400px;
}

.product-image {
  width: 100%;
}

.product-specific select {
  border: 1px solid rgb(46, 72, 107);
  height: 2em;
}

.product-specific a {
  margin-top: 0.5em;
}

@media only screen and (max-width: 700px) {

.product-specific {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
  .product-specific select,
  .product-specific a {
    width: 100%;
  }

  .product-image-container {
    align-self: center;
  }
}

@media only screen and (min-width: 701px) {
  .product-specific {
    display: flex;
    flex-direction: row;
    gap: 3em;
  }

  .product-info {
    max-width: 700px;
    min-width: 200px;
  }

  .product-image {
    min-width: 200px;
  }

  .product-specific select,
  .product-specific a {
    width: 40%;
  }
}